<!-- Latest Post Preview Start -->
<section id="{{ page.section-type }}" class="container content-section text-center">
    <center>
        <h2>Daily-Commit</h2></center>
    <div class="row">
        <div class="col-sm-4">
            <a href="https://github.com/cdrrazan/" target="_blank"><img src="assets/app/ruby.jpg" alt="" width="85%" height="120px" /></a>
            <br>
            <h3>cvm</h3>

        </div>
        <div class="col-sm-4">
            <a href="https://github.com/cdrrazan/cvm-frontend" target="_blank"><img src="assets/app/react.png" alt="" width="85%" height="120px"/></a>
            <br>
            <h3>cvm-frontend</h3>

        </div>
        <div class="col-sm-4">
            <a href="https://github.com/cdrrazan/cvm-api" target="_blank"><img src="assets/app/ror.png" alt="" width="85%" height="120px"/></a>
            <br>
            <h3>cvm-api</h3>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a href="https://github.com/cdrrazan/compose-daily" target="_blank"><img src="assets/app/docker.jpg" alt="" /></a>
                <br>
            <h3>compose-daily</h3>

        </div>
        <div class="col-sm-4">
            <a href="https://github.com/cdrrazan/playbook-daily" target="_blank"><img src="assets/app/as.png" alt="" height="20%" /></a>
            <br>
            <h3>playbook-daily</h3>

        </div>

        <div class="col-sm-4">
            <a href="https://github.com/cdrrazan/script-daily" target="_blank"><img src="assets/app/bash.png" alt=""  width="85%" /></a>
            <br>
            <h3>script-daily</h3>

        </div>
    </div>
</section>
<br>
