<script>
      (function() {
        var cx = '017183290816716428070:cctdhwygiou';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
      window.onload = function(){
      document.getElementById('gsc-i-id1').placeholder = 'You can search here, but allow the pop up in your browser thanks. Please note this is not your regular google search bar, information only available for this site.TQS';
    };
    </script>
