
<!-- Latest Post Preview Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        {{ page.content | markdownify }}

        {% assign post = site.posts.first %}
        <h4> <strong> {{ post.date | date_to_string }} </strong>
          <small>.
            <a class="category" href="{{site.baseurl}}/categories/{{post.category | downcase}}">
              {{ post.category }}
            </a>
          .</small>
          <strong> <a href="{{site.baseurl}}{{ post.url }}">{{post.title}} </a> </strong>
        </h4>

        <section class="text-justify">
          {{ post.content | strip_html | markdownify | truncatewords: site.post-preview-words }}
        </section>
        <center>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Homepage-blog-ad -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-8602912877689578"
             data-ad-slot="2650392260"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </center>
        <h4><a href="{{site.baseurl}}/blog/">All blog posts!</a></h4>

      </div>
    </div>
</section>

<!-- Latest Post Preview End -->
