<style>
#profile-nav {
border-color: #E15718 !important;
}
#profile-logo {
background-color: #E15718 !important;
}
section#profile-signup h1 {
color: #E15718 !important;
}
section#profile-signup h2 a {
color: #3498DB !important;
}
section#profile-signup ol a {
color: #3498DB !important;
}
section.profile-form input[type="submit"] {
background-color: #E15718 !important;
}
#issues-list .issue-title h1 a span.subject {
color: #3498DB !important;
}
section#issues #issues-covers a.issue-cover article {
background-color: #E15718 !important;
}
</style>
<center>
<div class='container'>
    <hgroup>
    <h1 title="cdrrazan's weekly!" style="color:#ff5900">cdrrazan's weekly!</h1>
    <p style="width: 80%">A handpicked selection of recommended tech-related articles, updates about the latest apps &amp; technologies, inspiration from global and unique sources delivered directly to your inbox.</p>
    </hgroup>
    <section id='profile-stats'>
        <section class='profile-form'>
            <form action="https://www.getrevue.co/profile/cdrrazan/add_subscriber" method="post" id="revue-form" name="revue-form" target="_blank">
                <div id='profile-form'>
                    <div id='profile-form-fields'>
                        <h3>Subscribe to Revue List</h3>
                        <div class='input-group' style="width: 80%">
                            <input class="form-control" placeholder="Please enter Email Address.." title="Subscribe to the list of cdrrazan&#39;s weekly!" type="text" name="member[email]" id="member_email" />
                            <div class='input-group-btn'>
                                <input type="submit" name="commit" value="Subscribe" class="btn btn-primary" title="Subscribe to the list of cdrrazan&#39;s weekly!" />
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </form>
    </section>
</section>
</section>
</section>
</div>
</article>
</div>
</div>
<br>
<img src="/img/revue.jpg"/>
</center>
