
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">

    {% include navigation.html %}
    {% include header.html %}


    {% for p in site.pages_list %}
      {% for page in site.pages %}
        {% if p[1] == page.section-type %}
          {% include {{ page.path }} %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    <p><br><br></p>

    <!-- {% include footer.html %} -->

    <br><br>

    <center>

    {% include revue.html %}

    </center>

    <br>
    <center><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Footer-ad -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-8602912877689578"
         data-ad-slot="6679166995"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script></center>

    {% include quotes.html %}

    {% include widget-footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Index Layout End -->
